<div class="signinpanel" ng-controller="userCtrl">
    <div class="row">
        <div class="col-md-6">
            <form name="signinForm" ng-submit="forgotPass()" novalidate="true">
                <h4 class="nomargin">Forgot Password</h4>
                <input type="email" class="form-control uname" placeholder="email" name="email" ng-model="forgotform.email" required />
                <div class="error">
                    <label class="error" ng-show="(signinForm.$submitted || signinForm.email.$dirty) && signinForm.email.$error.required">Please enter email.</label>
                    <label class="error" ng-show="(signinForm.$submitted || signinForm.email.$dirty) && signinForm.email.$error.email">Please enter valid email.</label>
                </div>                
                <a ui-sref="signin"><small>Back to SignIn</small></a>
                <input type="submit" class="btn btn-success btn-block" name="submit" value="Submit" />
            </form>
        </div>
        <!-- col-sm-5 -->
    </div>
    <!-- row -->
    <!-- <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved. Bracket Bootstrap 3 Admin Template
            </div>
            <div class="pull-right">
                Created By: <a href="http://themepixels.com/" target="_blank">ThemePixels</a>
            </div>
        </div>   -->
</div>
<!-- signin -->
