<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="userCtrl">
    <div class="modal-dialog" role="document">
        <form id="login_user" name="signinForm" ng-submit="userLogin()" novalidate="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa-user fa"></i> &nbsp; User Login</h4>
                </div>
                <div class="modal-body">
                    <label id="username">Email</label>
                    <input type="email" class="Inputtype1" placeholder="Email" name="email" ng-model="regform.email" required />
                    <label class="error" ng-show="(signinForm.$submitted || signinForm.email.$dirty) && signinForm.email.$error.required">Please enter email.</label>
                    <label class="error" ng-show="(signinForm.$submitted || signinForm.email.$dirty) && signinForm.email.$error.email">Please enter valid email.</label>
                </div>
                <div class="modal-body">
                    <label id="username">Password</label>
                    <input type="password" class="Inputtype1" placeholder="Password" name="password" ng-model="regform.password" required />
                    <label class="error" ng-show="(signinForm.$submitted || signinForm.password.$dirty) && signinForm.password.$error.required">Please enter password.</label>
                </div>
                <div class="modal-footer">
                    <p class="pull-left">
                        <input type="checkbox" name="remember" /> Remember me.</p>
                    <button type="submit" class="btn Button1"><i class="fa-lock fa"></i> &nbsp; login</button>
                </div>
            </div>
        </form>
    </div>
</div>
