<div class="renter_margn_div" ng-controller="pageCtrl" ng-init="loadPages(5)">
    <!-- <div ng-bind-html="description"></div> -->
    <div class="Inner-Page-Banner">
        <h1>Renter<span>Info</span></h1>
    </div>
    <!--Div class Home_block1 Block start here -->
    <div ng-bind-html="description"></div>
</div>
<script src="../../../libs/owl.carousel.js"></script>
<!-- <script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $("#owl-demo").owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            items: 1,
            autoPlay: true,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [979, 1]
        });
    }, 100)
});
</script> -->
