<div class="row" ng-controller="trailerCtrl" ng-init="loadAllDTrailers()">
    <div class="col-md-12">
        <div class="col-md-8">
            <h5 class="subtitle mb5">{{userTitle}}</h5>
            <div class="items_leave2nd">
                <div class="col-md-2 text-left" ng-show="(trailersList.length > 0)">
                    <label for="search">items per page:</label>
                    <select ng-model="pageSize" class="form-control mb15" ng-options="option  for option in paginationOption" style="width:90px;">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 header_search_box_right pull-right">
            <p class="mb20">
                <div class="dataTables_search" id="table1_filter">
                    <label>Search:
                        <input type="text" aria-controls="table1" ng-model="dataSearch" placeholder="Search">
                    </label>
                </div>
            </p>
        </div>
    </div>
    <!-- <div class="col-md-4 margin-botton">
            <a ui-sref="addDTrailer" class="btn btn-lightblue pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Trailer</a>
        </div> -->
    <div class="table-responsive">
        <table class="table table-bordered mb30">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Size</th>
                    <!-- <th>Price</th>
                        <th>StartDate</th>
                        <th>EndDate</th> -->
                    <th>Status</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="data in trailersList | filter:dataSearch | itemsPerPage: pageSize" current-page="currentPage">
                    <td>{{$index+1}}</td>
                    <td><img src="images/trailers/{{data.image}}" height="100" width="100"></td>
                    <td>{{data.title}}</td>
                    <td>{{data.type_name}}</td>
                    <td><span ng-repeat="key in data.size_id">{{key.label}}, &nbsp;</span></td>
                    <!-- <td>{{data.price | currency}}</td>
                        <td>{{data.start_date | date : 'short'}}</td>
                        <td>{{data.end_date | date : 'short'}}</td> -->
                    <td>
                        <button class="btn {{(data.status == 1)?'btn-primary':'btn-danger'}} btn-xs">{{(data.status == 1)?'Active':'Inactive'}}</button>
                    </td>
                    <td>{{data.created | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                    <td class="table-action">
                        <a ui-sref="editDTrailer({Id:data.id})"><i class="fa fa-pencil"></i></a>
                        <!-- <a href="javascript:void(0)" ng-click="deleteDTrailar(data.id)" class="delete-row"><i class="fa fa-trash-o"></i></a> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12 text-center not-found" ng-show="(trailersList |filter:dataSearch).length == 0">
            <span>There is no data available</span>
        </div>
        <div class="text-center">
            <div class="pull-right">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../../admin/views/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
    <!-- table-responsive -->
    <!-- col-md-6 -->
</div>
<!-- row -->
