<div class="row" ng-controller="trailerCtrl" ng-init="editDTrailar();">
    <div class="col-md-12">
        <h5 class="subtitle mb5">Edit Trailer</h5>
        <p class="mb20"></p>
        <form id="form1" class="form-horizontal" name="updateForm" method="post" ng-submit="updateDTrailar()" novalidate enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Name:</label>
                        <div class="col-sm-4">
                            <input type="text" name="name" class="form-control" ng-model="trailerData.title" required />
                            <div class="error">
                                <label class="error" ng-show="(updateForm.$submitted || updateForm.name.$dirty) && updateForm.name.$error.required">Please enter name.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Image:</label>
                        <div class="col-sm-8">
                            <input accept="/image/jpeg" type="file" name="propImg" onChange="angular.element(this).scope().previewImage(this)" ng-model="trailerData.propEdImg" />
                            <!-- <img class="propImg" ng-src="/admin/images/uploadfile.png" ng-if="!propImg" width="100" height="80"> -->
                            <img class="propImg" ng-if="propImg" ng-src="{{propImg}}" ng-if="propImg.indexOf('.jpeg') === -1 && propImg.indexOf('.jpg') === -1 && propImg.indexOf('.png') === -1" width="200" height="150">
                            <img class="propImg" ng-if="!propImg" ng-src="/admin/images/trailers/{{propEdImg}}" ng-if="propEdImg.indexOf('.jpeg') > -1 || propEdImg.indexOf('.jpg') > -1 || propEdImg.indexOf('.png') > -1" width="200" height="150">
                            <div class="error">
                                <label class="error" ng-show="(updateForm.$submitted) && updateForm.propImg.$error.required">Please select image.</label>
                                <label class="error" ng-show="fileTypeError">File type not support</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Type:</label>
                        <div class="col-sm-4">
                            <select class="form-control mb15" name="type" ng-model="trailerData.type" ng-options="option.name for option in typeOption track by option.id" ng-change="chackTypeSelect(trailerData.type)" required>
                                <option value="">Select Type (*)</option>
                            </select>
                            <div class="error">
                                <label class="error" ng-show="(updateForm.$submitted || updateForm.type.$dirty) && updateForm.type.$error.required">Please select type.</label>
                                <label class="error" ng-show="alTkn">This type already taken</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="dropDSize">
                        <label class="col-sm-4 control-label">Size:</label>
                        <div class="col-sm-4">
                            <!-- <dropdown-multiselect model="trailerData.selectedItems" dropdown-options="sizeOption" dropdown-trackby="id"></dropdown-multiselect> -->
                            <div ng-dropdown-multiselect="" options="sizeOption" selected-model="trailerData.selectedItem" extra-settings="example7settings"></div>
                            <div class="error">
                                <label class="error" ng-show="showTypeError">Please select size.</label>
                            </div>
                        </div>
                    </div>
                    <!--  <div class="form-group">
                        <label class="col-sm-4 control-label">Price:</label>
                        <div class="col-sm-4">
                            <input type="number" name="price" class="form-control" ng-model="trailerData.price" required />
                            <div class="error">
                                <label class="error" ng-show="(addForm.$submitted || addForm.price.$dirty) && addForm.price.$error.required">Please enter price.</label>
                                <label class="error" ng-show="(addForm.$submitted || addForm.price.$dirty) && addForm.price.$error.number">Please enter numeric value.</label>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Status</label>
                        <div class="col-sm-4">
                            <select class="form-control mb15" name="status" ng-model="trailerData.status" ng-options="option.name for option in statusOption track by option.id" required>
                                <option value="">Select Your Status (*)</option>
                            </select>
                            <div class="error">
                                <label class="error" ng-show="(updateForm.$submitted || updateForm.status.$dirty) && updateForm.status.$error.required">Please select Status.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description:</label>
                        <div class="col-sm-5">
                            <textarea ckeditor="editorOptions" ng-model="trailerData.description"></textarea>      
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-4 control-label">Start Date:</label>
                        <div class="col-sm-5">
                            <datepicker date-format="yyyy-MM-dd">
                                <input class="form-control" name="stDate" readonly="true" type="text" ng-model="trailerData.stDate" required />
                                <div class="error">
                                    <label class="error" ng-show="(addForm.$submitted || addForm.stDate.$dirty) && addForm.stDate.$error.required">Please select start date</label>
                                </div>
                            </datepicker>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">End Date:</label>
                        <div class="col-sm-5">
                            <datepicker date-format="yyyy-MM-dd">
                                <input class="form-control" name="enDate" readonly="true" type="text" ng-model="trailerData.enDate" required />
                                <div class="error">
                                    <label class="error" ng-show="(addForm.$submitted || addForm.enDate.$dirty) && addForm.enDate.$error.required">Please select end date</label>
                                </div>
                            </datepicker>
                        </div>
                    </div> -->
                </div>
                <!-- panel-body -->                
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <a ui-sref="dTrailerManage" class="btn btn-warning ">cancel</a>
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <!-- panel-footer -->
            </div>
            <!-- panel-default -->
        </form>
    </div>
</div>
<!-- row -->
