<footer>
    <div class="container">
        <div class="social-media-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
        <div class="play-store">
            <a href="#"><img src="front/img/play-store.png" alt=""></a>
        </div>
        <div class="clearfix footer-menu">
            <ul>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">How It Works</a></li>
                <li><a href="#">Browse Categories</a></li>
                <li><a href="#">Browse Freelancer</a></li>
                <li><a href="#">Refer and Earn</a></li>
                <li><a href="#">Offers</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">Copyright © 2017 Genuinwork. All Rights Reserved | <a href="#">Privacy Policy</a> | <a href="#">Terms of use</a> </div>
    </div>
</footer>
