<div class="row" ng-controller="faqCtrl" ng-init="getFaqCategory()">
    <div class="col-md-12">
        <h5 class="subtitle mb5">Add Faq </h5>
        <p class="mb20"></p>
        <form id="form1" class="form-horizontal" name="addForm" method="post" ng-submit="addFaq()" novalidate enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Category:</label>
                        <div class="col-sm-4">
                            <select class="form-control mb15" name="category" ng-model="blogData.category" ng-options="option.category_name for option in categoryList track by option.faq_id" required>
                                <option value="">Select Category</option>
                            </select>
                            <div class="error">
                                <label class="error" ng-show="(addForm.$submitted || addForm.category.$dirty) && addForm.category.$error.required">Please select Category.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Question:</label>
                        <div class="col-sm-4">
                            <input type="text" name="blog_title" class="form-control" ng-model="blogData.blog_title" required />
                            <div class="error">
                                <label class="error" ng-show="(addForm.$submitted || addForm.blog_title.$dirty) && addForm.blog_title.$error.required">Please enter Question.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description:</label>
                        <div class="col-sm-4">
                            <!--  <textarea name="blog_content" class="form-control" ng-model="blogData.blog_content" required ></textarea> -->
                            <textarea rows="8" cols="70" name="blog_content" ng-model="blogData.blog_content" required></textarea>
                            <div class="error">
                                <label class="error" ng-show="(addForm.$submitted || addForm.blog_content.$dirty) && addForm.blog_content.$error.required">Please enter content.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel-body -->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="hidden" name="blog_user_id" class="form-control" ng-model="blogData.blog_user_id" value="1" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- panel-footer -->
            </div>
            <!-- panel-default -->
        </form>
    </div>
</div>
<!-- row -->
