<!--slider start-->
            <div class="home-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="front/img/slider-pic1.jpg" alt="...">
                            <div class="carousel-caption">
                                <h2>NOW GET ALL SERVICES UNDER ONE ROOF</h2>
                                <h1>"GET BETTER QUALITY OF LIFE"</h1>
                                <a href="#">Get Started</a>
                            </div>
                        </div>
                        <div class="item">
                            <img src="front/img/slider-pic1.jpg" alt="...">
                            <div class="carousel-caption">
                                <h2>NOW GET ALL SERVICES UNDER ONE ROOF</h2>
                                <h1>"GET BETTER QUALITY OF LIFE"</h1>
                                <a href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--slider end-->
            <!--CATEGORIES FOLD START-->
            <div class="fold gray-bg">
                <h2>Categories</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/Plumbing.png" alt="">
                                    <span>Plumbing</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/laundry.png" alt="">
                                    <span>Laundry</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/appliances.png" alt="">
                                    <span>Appliances</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/home-cleaning.png" alt="">
                                    <span>Home Cleaning</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/electrical.png" alt="">
                                    <span>Electrical</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/carpentry.png" alt="">
                                    <span>Carpentry</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/cars-bikes.png" alt="">
                                    <span>Cars &amp; Bikes</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/computer-repair.png" alt="">
                                    <span>Computer Repair</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/painting.png" alt="">
                                    <span>Painting</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/pest-control.png" alt="">
                                    <span>Pest Control</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/document-services.png" alt="">
                                    <span>Document Services</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="category">
                                <a href="#">
                                    <img src="front/img/beauty.png" alt="">
                                    <span>Beauty</span>
                                </a>
                            </div>
                        </div>
                        <a href="#" class="btn-primary">View All</a>
                    </div>
                </div>
            </div>
            <!--CATEGORIES FOLD END-->
            <!--HOW IT WORKS FOLD START-->
            <div class="fold">
                <h2>How It Works</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="works-block">
                                <img src="front/img/find.png" alt="">
                                <h3>FIND</h3>
                                <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="works-block">
                                <img src="front/img/hire.png" alt="">
                                <h3>HIRE</h3>
                                <p>Browse profiles, reviews, and proposals then interview top candidates. Hire a favorite and begin your project.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="works-block">
                                <img src="front/img/work.png" alt="">
                                <h3>WORK</h3>
                                <p>Use the Upwork platform to chat, share files, and collaborate from your desktop or on the go.</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="works-block">
                                <img src="front/img/pay.png" alt="">
                                <h3>Pay</h3>
                                <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--HOW IT WORKS fFOLD END-->