<div class="Inner-Page-Banner">
    <h1>Reset <span> Password</span></h1>
</div>
<!--Div class Home_block1 Block start here -->
<div class="Page_content_block" ng-controller="userCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-6 col-xs-offset-3 mob_forgot_div">
                <form name="resetForm" ng-submit="resetPass()" novalidate="true">
                    <div class="Myaccount_edit_block">
                        <div class="Myaccount_profile_img">
                            <img src="/front/images/change-password-img.jpg" alt="User Profile" />
                            <h2>Reset <span>Password</span></h2>
                        </div>
                        <div class="Myaccount_profile_box">
                            <label>New Password:</label>
                            <input type="password" class="Textbox1" name="password" ng-model="resform.password" minlength="8" ng-pattern='"^(?=.*[a-z])(?=.*[0-9])(?=.*\\d)(?=.*[$@$!%*?&])[A-Za-z\\d$@$!%*?&]{8,}"' required />
                            <label class="error" ng-show="(resetForm.$submitted || resetForm.password.$dirty) && resetForm.password.$error.required">Please enter new password.</label>
                            <label class="error" ng-show="(resetForm.$submitted || resetForm.password.$dirty) && resetForm.password.$error.minlength">Password should be min 8 character</label>
                            <label class="error" ng-show="(resetForm.$submitted || resetForm.password.$dirty) && resetForm.password.$error.pattern">Password should be combination of letter, number and special character</label>
                            <label>Confirm Password:</label>
                            <input type="password" class="Textbox1" name="cpassword" ng-model="resform.cpassword" compare-to="password" required/>
                            <label class="error" ng-show="(resetForm.$submitted || resetForm.cpassword.$dirty) && resetForm.cpassword.$error.required">
                                Please enter confirm password.</label>
                            <label class="error" ng-show="resetForm.cpassword.$error.compareTo">Password does not match.</label>
                            <input type="submit" class="Btn-type1" value="Reset Password" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
