<div class="login-page" ng-controller="userCtrl">
    <h1>Create a New Account</h1>
    <div class="login-bg">
        <form name="signinForm" data-ng-submit="register()" novalidate>
            <div class="clearfix">
                <div class="text-field left-fifty">
                    <input type="text" placeholder="First Name" name="fname" data-ng-model="regform.fname" required>
                     <label class="error" data-ng-show="(signinForm.$submitted || signinForm.fname.$dirty) &amp;&amp; signinForm.fname.$error.required">Please enter first name.</label>
                </div>
                <div class="text-field right-fifty">
                    <input type="text" placeholder="Last name" name="lname" data-ng-model="regform.lname" required>
                    <label class="error" data-ng-show="(signinForm.$submitted || signinForm.lname.$dirty) &amp;&amp; signinForm.lname.$error.required">Please enter last name.</label>
                </div>
            </div>
            <div class="clearfix">
                <div class="text-field left-fifty">
                    <input type="number" placeholder="Mobile Number 1" name="mobile1" data-ng-model="regform.mobile1" required>
                    <label class="error" data-ng-show="(signinForm.$submitted || signinForm.mobile1.$dirty) &amp;&amp; signinForm.mobile1.$error.required">Please enter mobile number.</label>
                </div>
                <div class="text-field right-fifty">
                    <input type="number" placeholder="Mobile Number 2" name="mobile2" data-ng-model="regform.mobile2" required>
                    <label class="error" data-ng-show="(signinForm.$submitted || signinForm.mobile2.$dirty) &amp;&amp; signinForm.mobile2.$error.required">Please enter mobile number.</label>
                </div>
            </div>
            <div class="text-field ">
                <input type="email" placeholder="Email" name="email" data-ng-model="regform.email">
                <label class="error" data-ng-show="(signinForm.$submitted || signinForm.email.$dirty) &amp;&amp; signinForm.email.$error.email">Please enter valid email.</label>
            </div>
            <div class="clearfix">
                <div class="remember">
                    <input type="checkbox" name="pp" required data-ng-model="regform.pp">
                    <label>Accept terms and condition and privasy policy.</label>
                    <label class="error" data-ng-show="(signinForm.$submitted || signinForm.pp.$dirty) &amp;&amp; signinForm.pp.$error.required">Please accept condition</label>
                </div>
            </div>
            <input type="submit" value="Log in" class="fill-button">
        </form>
        <div class="an-account">Already have an account? <a ui-sref="login">Log In</a></div>
    </div>
</div>
