<header>
    <div class="logo">
        <a href="#"><img src="front/img/logo.jpg" alt=""></a>
    </div>
    <div class="header-right">
        <form>
            <input type="submit" value="">
            <span class="sepretor"></span>
            <input type="text" placeholder="Search">
        </form>
    </div>
</header>
<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand"><a ui-sref="register">Join Us</a></li>
        <li><a ui-sref="login">Sign In\Sign Up</a></li>
        <li><a href="#">Tutorial</a></li>
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Browse Categories</a></li>
        <li><a href="#">Refer and Earn</a></li>
        <li><a href="#">Offers</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Board of Directors</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </li>
    </ul>
</nav>
<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
    <span class="menu-text">Menu</span>
</button>
<!-- /#sidebar-wrapper -->
<script src="../../../libs/script.js"></script>
